{% extends "delcien/main.html" %}

{% comment %}
<!--{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}	
{% endblock %}

{% block footer %}
{% endblock %} -->
{% endcomment %}
{% block links %}
	<link rel="stylesheet" type="text/css" href="/static/contacto/css/main.css">
{% endblock %}

{% block content %}	
	<section class="tipo-contenedor">
	    <h1 id="titulo-seccion">Entra en contacto con la delegación</h1>
	    <div id="contacto-carrera" class="contenido-texto">
	        	<h2>Delegación de la Facultad de Ciencias</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Teléfono: <a href="">@inf_usal</a></td>
				    </tr>
				    <tr>
				      <td>Dirección física : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	    <div class="contenedor-dos-columnas">
	        <div id="contacto-carrera" class="contenido-texto">
	        	<h2>Grado en Ingeniería Informática</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Facebook : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	        <div id="contacto-carrera" class="contenido-texto">
	        	<h2>Grado en Ingeniería Geológica</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Facebook : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	        <div  id="contacto-carrera" class="contenido-texto">
	        	<h2>Grado en Física</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Facebook : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	        <div id="contacto-carrera" class="contenido-texto">
	        	<h2>Grado en Estadística</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Facebook : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	        <div id="contacto-carrera" class="contenido-texto">
	        	<h2>Grado en Matemáticas</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Facebook : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	        <div id="contacto-carrera" class="contenido-texto">
	        	<h2>Grado en Geología</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Facebook : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	    </div>
	</section>
	<section id="formulario-duda" class="tipo-contenedor">
		<h1 class="titulo-seccion">Envíanos directamente tu duda</h1>
		<div class="contenedor-dos-columnas">
			<div class="contenido-texto">
				<label>Nombre de contacto
			    	<input type="text" placeholder="Nombre">
			    </label>
			    <label>Correo electrónico
			    	<input type="text" placeholder="Nombre">
			    </label>
			    <label>Ámbito de la duda
				  	<select>
				    	<option value="husker">Facultad de Ciencias</option>
				    	<option value="starbuck">Grado en Ingeniería Informática</option>
				    	<option value="starbuck">Grado en Ingeniería Química</option>
				    	<option value="starbuck">Grado en Física</option>
				    	<option value="starbuck">Grado en Estadística</option>
				    	<option value="starbuck">Grado en Matemáticas</option>
				    	<option value="starbuck">Grado en Geología</option>
				  	</select>
				</label>
			</div>
			<div class="contenido-texto">
				<label id="descripcion">
				  	Explícanos tu duda
				  	<textarea placeholder="..."></textarea>
				</label>
			</div>
		</div>
		<label>
		  	¿Quieres contarnos algo más?
		  	<textarea placeholder="..."></textarea>
		</label>
		<a class="button expanded" href="#">Enviar</a>
	</section>
	<section id="formulario-colaborar" class="tipo-contenedor">
		<h1 class="titulo-seccion">Colabora en la Facultad</h1>
		<div class="contenedor-dos-columnas">
			<div class="contenido-texto">
				<label>Nombre de contacto
			    	<input type="text" placeholder="Nombre">
			    </label>
			    <label>Correo electrónico
			    	<input type="text" placeholder="Nombre">
			    </label>
			    <label>Ámbito de actuación
				  	<select>
				    	<option value="husker">Facultad de Ciencias</option>
				    	<option value="starbuck">Grado en Ingeniería Informática</option>
				    	<option value="starbuck">Grado en Ingeniería Química</option>
				    	<option value="starbuck">Grado en Física</option>
				    	<option value="starbuck">Grado en Estadística</option>
				    	<option value="starbuck">Grado en Matemáticas</option>
				    	<option value="starbuck">Grado en Geología</option>
				  	</select>
				</label>
				<label>¿Tienes un fichero que compartir?</label>
				<input type="file" id="doc-colaboracion" class="show-for-sr">
				<label id="boton-doc-colaboracion" for="doc-colaboracion" class="button">Subir archivo</label>
				<label>¿Quieres que expongamos tu cartel en la página web?</label>
				<input type="file" id="cartel-colaboracion" class="show-for-sr">
				<label id="boton-cartel-colaboracion" for="cartel-colaboracion" class="button">Subir cartel</label>
			</div>
			<div class="contenido-texto">
				<label id="descripcion">
				  	Explícanos tu idea
				  	<textarea placeholder="..."></textarea>
				</label>
			</div>
		</div>
		<label>
		  	¿Quieres contarnos algo más?
		  	<textarea placeholder="..."></textarea>
		</label>
		<a class="button expanded" href="#">Enviar</a>
	</section>
{% endblock %}
