div#intro{
    margin: 10px auto;
    width: auto;
}
div#googleCalendar div{border:none; box-shadow:none;}
.googleCalendar{
  position: relative;
  height: 0;
  width: 100%;
  max-width: 500px;
  padding-bottom: 60%;
  margin: 0 auto;
}

.googleCalendar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 375px;
}
